# ------------- Required Keys -------------

# Supabase - Enables our backend such as database and auth
NEXT_PUBLIC_SUPABASE_URL=https://ccvnzfzjsbnxnojgnqwh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjdm56Znpqc2JueG5vamducXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5ODMxMjQsImV4cCI6MjA2OTU1OTEyNH0.FrxPgRtKGu2fXxtG8NpBKRUoNj5-22l8o5sgNGRhfck"
SUPABASE_DATABASE_URL=https://ccvnzfzjsbnxnojgnqwh.supabase.co
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjdm56Znpqc2JueG5vamducXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5ODMxMjQsImV4cCI6MjA2OTU1OTEyNH0.FrxPgRtKGu2fXxtG8NpBKRUoNj5-22l8o5sgNGRhfck"


# OpenRouter - Enables AI chat. Other providers are optional below
OPENROUTER_API_KEY=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
# Codesandbox - Used to host user apps. Other providers may be supported in the future. May be optional in the future.
# CSB_API_KEY="<Your api key from https://codesandbox.io/t/api>"
# ------------- Optional Keys -------------

# Fast apply model providers to reliably resolve code changes if search replace does not work. We will attempt to use one or the other.
# Option 1: MorphLLM
MORPH_API_KEY=sk-sfZ5AdpiROLUk8zvKBqnEBqCcidYP_NtF7I9DIUQoYhlhb02
# Option 2: Relace
# RELACE_API_KEY="<Your api key from https://app.relace.ai/settings/api-keys>"

# PostHog - Enables analytics for the app
NEXT_PUBLIC_POSTHOG_KEY="<Your PostHog API key from https://posthog.com/docs/libraries/next-js>"
NEXT_PUBLIC_POSTHOG_HOST="<Your PostHog region https://us.i.posthog.com>"

# Gleap - In-app feedback & bug reports
# NEXT_PUBLIC_GLEAP_API_KEY="<Gleap support API Key>"

# RB2B - Enables B2B visitor identification
# NEXT_PUBLIC_RB2B_ID="<Your RB2B tracking script ID from https://app.rb2b.com>"

# Resend - Enables inviting other users to the project using emails
# RESEND_API_KEY="<Your api key from https://resend.com/api-keys>"

# Freestyle - Website hosting provider
FREESTYLE_API_KEY=7nfkdJBBGqZAN8kGccHrRs-AZM6dv86XusP9tNUgVR9xdFwkMNbswcEsDJkggGLZBdQ
NEXT_PUBLIC_HOSTING_DOMAIN="qreatify.dev"

# Stripe - Pricing setup. You should not need this
STRIPE_SECRET_KEY=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
STRIPE_PUBLISHABLE_KEY=pk_live_51PiYZJRv5cVaeSzxkp3WTidp0sLCIX9EA772Yad2VPrKggo5xOYMYIcqVIibT575MjA80VAQCkHHNKBXtqzSpQLD00nCcJWsLf
STRIPE_WEBHOOK_SECRET=whsec_nTSIXTAzX3Z2dhXSmFED7s7WRSMewAlL

# Firecrawl - Scrape and screenshot websites
FIRECRAWL_API_KEY="fc-7e51cb3425c64ddc97af98c83c2b9fea"

# Exa - Web Search Tool
EXA_API_KEY="c207a458-d8ce-40cb-a2bf-e26172c17713"

# n8n - Automation webhooks
N8N_WEBHOOK_URL=""
N8N_API_KEY=""
N8N_LANDING_FORM_URL=""
N8N_LANDING_FORM_HEADER_NAME="X-Onlook-Form-Token" # Optional alternative to Basic Auth
N8N_LANDING_FORM_HEADER_VALUE="longrandomtoken"

# Langfuse - LLM telemetry
LANGFUSE_SECRET_KEY=sk-lf-931bcaa4-0f78-495b-9946-4749c4e935d7
LANGFUSE_PUBLIC_KEY=pk-lf-c1075525-c0c7-4466-bb04-e3971ee4576d
LANGFUSE_BASEURL=https://cloud.langfuse.com

# GitHub 
GITHUB_APP_ID="2020211"
GITHUB_APP_SLUG="https://qreatify.dev"
GITHUB_APP_PRIVATE_KEY="9c8adc0cc51695b74e9e6cb18a2a3ab0105ec3f4"


# ------------- Optional: Alternative LLM providers -------------

# Anthropic
ANTHROPIC_API_KEY=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
# Google AI Studio
# GOOGLE_AI_STUDIO_API_KEY="<Your Google API key from https://aistudio.google.com/apikey>"

# Open AI

MORPH_API_KEY=sk-_9yBe0xPts4JEU2-g_hA5ZFKuDtJbR9c9Y3ZdwkfLI0PFJqk
OPENAI_API_KEY=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


# AWS Bedrock
# AWS_ACCESS_KEY_ID="<Your AWS access key from https://ai-sdk.dev/providers/ai-sdk-providers/amazon-bedrock>"
# AWS_SECRET_ACCESS_KEY="<Your AWS access key from https://ai-sdk.dev/providers/ai-sdk-providers/amazon-bedrock>"
# AWS_REGION="<Your AWS region from https://ai-sdk.dev/providers/ai-sdk-providers/amazon-bedrock>"

# Google Vertex
# GOOGLE_PROJECT_ID="<Your project ID from https://ai-sdk.dev/providers/ai-sdk-providers/google-vertex>"
# GOOGLE_LOCATION="<Your Vertex model region from https://ai-sdk.dev/providers/ai-sdk-providers/google-vertex>"
# GOOGLE_CLIENT_EMAIL="<Your client email from https://ai-sdk.dev/providers/ai-sdk-providers/google-vertex>"
# GOOGLE_PRIVATE_KEY="<Your private key from https://ai-sdk.dev/providers/ai-sdk-providers/google-vertex>"
# GOOGLE_PRIVATE_KEY_ID="<Your private key id from https://ai-sdk.dev/providers/ai-sdk-providers/google-vertex>"
